.container {
  font-family: BlinkMacSystemFont, Roboto, Segoe UI, Noto Sans,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Helvetica Neue,
    Helvetica, sans-serif;
  height: 45px;
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  padding-right: 3%;
  color: #575757;
  font-size: 12px;
align-items: center;
  justify-content: space-between;
}
.assetcount{
    word-break: break-all;
    color: #0A0A14;
    float: left;
    font-size: 16px;
    font-weight: bold;
}